* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

$color-primary: #1992d4;

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.left {
  background-color: $color-primary;
}

.right {
  background-color: #fff;
}
